.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.sidebar .logo {
  width: 2rem;
  height: 2rem;
}

.sidebar .new-tweet-button {
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
  border: 0;
  transition: all 300ms;
}

.sidebar .new-tweet-button svg {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

.sidebar .new-tweet-button:hover {
  filter: brightness(0.90);
}

.sidebar .main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .main-navigation a.nav-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.sidebar .main-navigation a.nav-item.active {
  color: var(--twitter-blue);
}

.sidebar .main-navigation a.nav-item svg {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 780px) {
  .sidebar {
    padding: 1.5rem 0.75rem;
    align-items: center;
  }

  .sidebar .main-navigation a.nav-item span {
    display: none;
  }

  .sidebar .new-tweet-button svg {
    display: block;
  }

  .sidebar .new-tweet-button span {
    display: none;
  }
}